target/
nb-configuration.xml
nbactions.xml

run/tts/**
run/repos/**
run/metadata_*.json
run/cards_*.json
run/arkhamhorrorlcg*.tsv
run/arkhamhorrorlcg.xlsx
run/Core Weakness.json
run/Core Bonded.json
run/Core Mini.json
run/Core Customization Generated.json
run/Core Taboo.json
run/traits.tsv
run/raven_quill.tsv
run/ttsCardBacks.txt
run/imgur.jpg
run/.~lock*
src/main/java/pl/derwinski/arkham/MainFixEncoding.java
src/main/java/pl/derwinski/arkham/MainTestImgur.java
customizable.xlsx
locations.xlsx
.~lock*
